body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("123.png");
    background-color: #b1dff1;
}

header {
    background-color: #5887dd;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

nav {
    background-color: #89e489;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff6600;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

section {
    opacity: 0.6;
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
}

footer {
    background-color: #ecc02f;
    color: #fff;
    text-align: center;
    padding: 10px;
}